img {
    width: 40px;
    height: 40px;
}

#table {
    position: relative;
    left: 30%;
}

table tbody tr:nth-child(odd) {
    background: antiquewhite;
}

table tbody tr:nth-child(even) {
    background: azure;
}