<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eu">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/add}" methods="post"><button type="submit">Create</button></a>

<table border="1">
    <tr>
        <th>No</th>
        <th>Owner house</th>
        <th>Address</th>
        <th>Create date</th>
        <th>Number of person</th>
        <th colspan="2">Status</th>
    </tr>
    <tr th:each="item,state : ${list}">
        <td th:text="${state.count}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.address}"></td>
        <td th:text="${item.date}"></td>
        <td th:text="${item.numPerson}"></td>
        <td th:text="${item.personInHouse}"></td>
        <td><a th:href="@{/edit/{id}(id=${item.id})}">Edit</a></td>
        <td><a th:href="@{/delete/{id}(id=${item.id})}">Delete</a></td>
    </tr>

</table>

</body>
</html>